@model Q_Less.Models.TransportCard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Apply For Discounted Card <span class="fa fa-percent"></span> </h1>
<hr />



<h3>Card Details</h3>
<form action="" id="SubmitSearchForm">
    <div class="form-search">
        <label>Transport Card Id</label>
        <div class="tt-container">
            <button type="submit" class="btn btn-primary search"><span class="fa fa-search"></span></button>
            <input id="qcard" name="card" data-rule-isValidCard="true" type="text" value="" class="form-control search" />
            <legend hidden id="notfound" class="text-danger small">Transport Card not Found!</legend>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <label>Card Type:</label>
                <legend id="qcardType" class="text text-lg text-warning">-</legend>
            </div>
        </div>
    </div>
</form>
<hr />



<h3>ID Details</h3>
<input type="text" id="txt_cardNumber" name="txt_cardNumber" hidden>
@using (Html.BeginForm("ApplyDiscounted", "TransportCards"))
{
    <label>Identification Card </label>
    @Html.DropDownList("IDType", new List<SelectListItem>
    {
        new SelectListItem{ Text="Select your ID to Use", Value = "0" },
        new SelectListItem{ Text="Senior Citizen Card ", Value = "1" },
        new SelectListItem{ Text="PWD Card", Value = "2" }
    }, new { @class = "form-control", @disabled = "" })
    @*<div class="form-search">
        <label>ID Number</label>
        <div class="tt-container">
            <input id="idCard" name="EntryStations" data-rule-isValidEntryLoc="true" type="text" value="" class="form-control search" />
        </div>
    </div>*@
    <div class="form-search">
        <div class="tt-container">
            @Html.LabelFor(m => m.Identification)
            @Html.TextBoxFor(m => m.Identification, new { @class = "form-control", @Id = "idCard" })
        </div>
    </div>
    @Html.HiddenFor(m => m.TransportCardUniqueId, new { @Id = "TransportCardUniqueId" });
    <br />
    <button class="btn btn-primary" id="btnSubmitTransac" disabled>Apply</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        var cardType = "";
        $.validator.addMethod("isValidCard", function () {
            return TransportCardUniqueId && TransportCardUniqueId !== 0
        }, "Please fillup valid Card Id");

        $('#idCard').on('change', function () {
            var str = "";
            if (cardType === "1") {
                str = pwdformat($('#idCard').val())
                $('#idCard').val(str);
                if (str.replace(new RegExp('-', 'g'),'').length == 12) {
                    $('#btnSubmitTransac').removeAttr('disabled');
                } else {
                    $('#btnSubmitTransac').attr('disabled', '');
                }
            }
            else if (cardType === "2") {
                str = scformat($('#idCard').val())
                $('#idCard').val(str);
                if (str.replace(new RegExp('-', 'g'), '').length == 10) {
                    $('#btnSubmitTransac').removeAttr('disabled');
                } else {
                    $('#btnSubmitTransac').attr('disabled','');
                }
            }
        })
        $(document).ready(function () {
            $('#qcard').change(function () {
                resetValues();
                TransportCardUniqueId = $('#qcard').val()
                $('#TransportCardUniqueId').val(TransportCardUniqueId);
                $('#notfound').attr('hidden', '');
            });
        })

        $('#SubmitSearchForm').validate({
            submitHandler: function () {
                $.ajax({
                    url: "/api/TransportCards/GetTransportCard/" + TransportCardUniqueId,
                    method: "GET",
                    success: function (data) {
                        $('#qcardCredit').text(data[0].CardValue.toFixed(2))
                        $('#qcardType').text(data[0].CardType.Description)
                        if (data.CardTypeId == 2)
                            $('#IDType').attr('disabled', "");
                        else
                            $('#IDType').removeAttr('disabled');
                    },
                    error: function () {
                        $('#qcardCredit').text('0.00')
                        $('#qcardType').text('-')
                        $('#notfound').removeAttr('hidden');
                        $('#btnSubmit').attr('disabled', "");
                    }
                })
            }
        });


        function resetValues() {
            $('#qcardCredit').text('0.00')
            $('#qcardType').text('-')
            $('#btnSubmitTransac').attr('disabled', '');
            $('#IDType').val(0)
        }

        function pwdformat(value) {
            var v = value.replace(/\s+/g, '').replace(/[^0-9]/gi, '')
            var matches = v.match(/\d{4,16}/g);
            var match = matches && matches[0] || ''
            var parts = []

            for (i = 0, len = match.length; i < len; i += 4) {
                if (parts.length < 3)
                    parts.push(match.substring(i, i + 4))
            }

            if (parts.length) {
                return parts.join('-')
            } else {
                return value
            }
        }
        function scformat(value) {
            var v = value.replace(/\s+/g, '').replace(/[^0-9]/gi, '')
            var matches = v.match(/\d{4,16}/g);
            var match = matches && matches[0] || ''
            var parts = []
            parts.push(match.substring(0, 2));
            for (i = 2, len = match.length; i < len; i += 4) {
                if (parts.length < 3)
                    parts.push(match.substring(i, i + 4))
            }
            if (parts.length) {
                return parts.join('-')
            } else {
                return value
            }
        }

        $('#IDType').on('change', function () {
            $('#idCard').val('');
            cardType = this.value;
            $('#btnSubmitTransac').attr('disabled', "");
        });
    </script>

}